Source: iced-systemmonitor
Section: admin
Priority: optional
Maintainer: Iced System Monitor Maintainers <noreply@example.invalid>
Build-Depends:
    debhelper-compat (=13),
    just (>= 1.13.0),
    pkg-config,
    rust-all,
    libxkbcommon-dev,
Standards-Version: 4.6.2

Package: iced-systemmonitor
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Iced System Monitor
